.new-member-form {
    margin: 2em 0 4em 0;
    text-align: center;
    &-input{
        height: 1.8em;
        font-size: 0.9em;
    }
    &-button {
        border:none;
        outline: none;
        height: 2.5em;
        margin-left: 1em;
        background: #F76C6C;
        color: black;
        border-radius: 1em;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.18);
        &:hover{
            box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
            transition: 0.3s;
          }
    }
}