main {
    max-width: 960px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

.new-member-form {
    margin: 2em 0 4em 0;
    text-align: center;
    &-input{
        height: 1.8em;
        font-size: 0.9em;
    }
    &-button {
        border:none;
        outline: none;
        height: 2.5em;
        margin-left: 1em;
        background: #F76C6C;
        color: black;
        border-radius: 1em;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.18);
        &:hover{
            box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
            transition: 0.3s;
          }
    }
}
  
.member-item {
    padding: 0.25em 0;
    list-style-type: none;
}

// Mon code :
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
.member-list {
    font-family: 'Hanalei Fill', cursive, 'Roboto', sans-serif;
    font-size: 1.5em;
    // Ajout du display flex pour disposer les noms de l'équipage comme je le veux
    display: flex;
    justify-content: space-around;
}

