footer {
    margin-top: 2em;
    text-align: center;
    color: #fff;
    background: #f76c6c;
    padding: 0.25em 0;
    // petit ajout pour que mon footer reste bien en bas de page
    position: absolute;
    bottom:0;
    width: 100%;
}